# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# ML models (VERY IMPORTANT)
*.h5
*.keras
*.pth
*.ckpt
*.pkl
saved_model/

# Data folders
dataset/
images/
audio/
video/
data/

# System / compiled files
*.dll
*.so
*.lib
*.dylib

# IDE
.vscode/
.idea/
